html(lang="en")
    head
        title Ticket Details
    body
        h1 Welcome User: #{userName}
        h1 Details of your ticket
        p Ticket is registered under:
        p First Name: #{firstName}
        p Last Name: #{lastName}
        p Vatin: #{vatin}
        p Ticket was generated at #{createdAtFormatted}